FTP_SERVER=
FTP_USERNAME=
FTP_PASSWORD=
JWT_SECRET=
CRYPTO_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_SECRET_PROD=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=devcast
DB_USER=admin
DB_PASSWORD=admin
DB_ROOT_PASSWORD=root

APP_DEBUG=1